<!DOCTYPE html>
<html lang="ko">

<head>
  <link rel="stylesheet" href="../static/style.css">
  <meta charset="UTF-8">
  <title>Bivace</title>
</head>

<body>
  <h1>
    <span class="Title">BIVACE2</span>
  </h1>
  <hr class="Separator" style="top: 11%;">
  <div class="list-container">
    <a href="../index.html" class="List">커뮤니티</a>
    <a href="../index.html" class="List">커뮤니티</a>
    <a href="../index.html" class="List">커뮤니티</a>
    <a href="../index.html" class="List">커뮤니티</a>
    <a href="../index.html" class="List">커뮤니티</a>
  </div>
  <hr class="Separator" style="top: 18%;">
</body>

</html>