<!DOCTYPE html>
<html lang="ko">

<head>
  <link rel="stylesheet" href="../static/style.css">
  <meta charset="UTF-8">
  <title>Bivace</title>
</head>

<body>
  <h1>
    <span class="Title">Personal</span>
  </h1>
  <div class="login-container">
    <a href="login.html" class="Login">로그인</a>
    <span class="Login">/</span>
    <a href="signin.html" class="Login">회원가입</a>
  </div>
  <hr class="Separator" style="top: 13%;">
  <div class="list-container">
    <a href="../index.html" class="List">커뮤니티</a>
    <a href="../index.html" class="List">커뮤니티</a>
    <a href="../index.html" class="List">커뮤니티</a>
    <a href="../index.html" class="List">커뮤니티</a>
    <a href="../index.html" class="List">커뮤니티</a>
  </div>
  <hr class="Separator" style="top: 20%;">
</body>

</html>