<!DOCTYPE html>
<html lang="ko">

<head>
  <link rel="stylesheet" href="../static/default.css">
  <link rel="stylesheet" href="../static/index.css">
  <meta charset="UTF-8">
  <title>BIVACE</title>
</head>

<body>
  <header>
    <h1><a href="personal.html">PERSONAL</a></h1>
    <h2 class="hide">서비스리스트</h2>
    <nav class="service_list">
      <ul>
        <li><a href="../index.html" class="List">개인공간</a></li>
        <li><a href="../index.html" class="List">정보제공</a></li>
        <li><a href="../index.html" class="List">게시판</a></li>
        <li><a href="../index.html" class="List">중고거래</a></li>
        <li><a href="../index.html" class="List">장소대여</a></li>
      </ul>
    </nav>
    <h2 class="hide">회원서비스</h2>
    <nav class="personal_service">
      <ul>
        <li><a href="../index.html" class="List">로그인</a></li>
        <li><a href="../index.html" class="List">회원가입</a></li>
      </ul>
    </nav>
  </header>
</body>

</html>